@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .gradient-text {
    background: linear-gradient(to right, #008080, #006400, #32cd32);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .gradient-button {
    background: linear-gradient(to right, #008080, #006400, #32cd32);
    -webkit-background-clip: padding-box;
    border: 2px solid transparent;
    color: white;
  }
}
